{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>biiLUVed</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">

  
  <div class="flex flex-col sm:flex-row sm:flex-wrap justify-between items-center mx-8 px-8 py-6 bg-[#FFCDEA] shadow-lg rounded-xl border-2 border-[#FB9AD1]">
    {% include "user_info.html"  %}

 
  <div class="flex justify-end mb-6">

  </div>

 
  {% if not products %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/luved.png' %}" alt="LUVED" class="w-32 h-32 mb-4"/>
    <p class="text-center text-gray-600 mt-4">all products are LUVED</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full max-w-[calc(100%-4rem)] mx-auto my-8">
    {% for product in products %}
        {% include 'card_product.html' with product=product %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock content %}
